<!-- Page Content -->
<div class="container">
	<h1 class="display-4 text-center">
		Properties for 
		<ng-template [ngIf]="origin === 'zap'">
        	ZAP
        </ng-template>
        <ng-template [ngIf]="origin === 'viva-real'">
        	Viva Real
        </ng-template>
	</h1>
	<ng-template ngFor let-property [ngForOf]="listProperties">
	<div class="card mb-3">
	  <div class="row no-gutters">
	    <div class="col-md-4">
	      <img class="card-img" src="{{ property.images[IMAGE_INDEX] }}" width="100%" height="250">
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">{{ property.pricingInfos.businessType }}</h5>
	        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
	        <p>
	        	<ng-template [ngIf]="property.pricingInfos.rentalTotalPrice && property.pricingInfos.businessType === 'RENTAL'">
		        	<b>Rent Price:</b> {{ property.pricingInfos.rentalTotalPrice | currency: 'symbol': '$&nbsp;' }} <br />
		      	</ng-template>
		      	<ng-template [ngIf]="property.pricingInfos.price && property.pricingInfos.businessType === 'SALE'">
		        	<b>Price:</b> {{ property.pricingInfos.price | currency: 'symbol': '$&nbsp;' }} <br />
		      	</ng-template>       	
	        </p>
	        <p>
	        	<b>City:</b> {{ property.address.city }}
	        </p>
	        <a [routerLink]="['/property-detail', property.id]" class="btn btn-primary">
		      Details
		    </a>
	      </div>
	    </div>
	  </div>
	</div>
	</ng-template> 	
</div>


