<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="logo">
                    <a routerLink="/home" routerLinkActive="active">
                        <img src="assets/img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <ul class="main-menu">
                    <li>
                        <a routerLink="/home" routerLinkActive="active">
                            Home
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/properties', 'zap']" routerLink="/properties/zap" routerLinkActive="active">
                            Zap
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/properties', 'viva-real']" routerLinkActive="active">
                            Viva Real
                        </a>
                    </li>
                </ul>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </div>
</header>