<!-- Newslatter Section Begin -->
<section class="newslatter-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="newslatter-text">
                    <img src="assets/img/message.png" alt="">
                    <h4>Join our mailing to get weekly updates on <br>our exclusive deals.</h4>
                    <form>
                        <input type="text" placeholder="Email address">
                        <button type="submit" class="site-btn news-btn">Subscribe!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newslatter Section End -->