<!-- Page Content -->
<div class="container">
  <h1 class="display-4 text-center">
    {{ property.pricingInfos.businessType }}
  </h1>
  <div class="row">
    <div class="col-lg-6">
      <div id="carouselImages" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li
            [attr.data-target]="'#carouselImages'"
            [attr.data-slide-to]="i"
            [ngClass]="{ active: i === 0 }"
            *ngFor="let image of property.images; let i = index"
          ></li>
        </ol>
        <div class="carousel-inner">
          <div
            class="carousel-item"
            [ngClass]="{ active: i === 0 }"
            *ngFor="let image of property.images; let i = index"
          >
            <img class="d-block w-100" src="{{ image }}" alt="First slide" />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselImages"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselImages"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-lg-6"></div>
  </div>
</div>
