<!-- Jumbotron Header -->
<header class="jumbotron my-4 text-center">
  <h1 class="display-4">
    Welcome to Frontend Challenge!
  </h1>
  <p class="lead">
  	At the end of 2017, the country's two largest real estate portals merged. This challenge revolves around our day-to-day to integrate the technologies and business rules of both, in a scalable and sustainable way, to revolutionize the real estate market in Brazil.
  </p>
  <a href="#" class="btn btn-primary btn-lg">ZAP</a>&nbsp;&nbsp;<a href="#" class="btn btn-primary btn-lg">Viva Real</a>
</header>
