<mlocks-banner></mlocks-banner>
<mlocks-search-filter></mlocks-search-filter>
<section class="hotel-rooms spad">
  <div class="container">
    <div class="row">
      <ng-template ngFor let-property [ngForOf]="listRentPropertiesForZAP">
        <div class="col-lg-4 col-md-6">
          <mlocks-property-card
            [type]="'ZAP'"
            [property]="property"
          ></mlocks-property-card>
        </div>
      </ng-template>
      <ng-template ngFor let-property [ngForOf]="listSellPropertiesForZAP">
        <div class="col-lg-4 col-md-6">
          <mlocks-property-card
            [type]="'ZAP'"
            [property]="property"
          ></mlocks-property-card>
        </div>
      </ng-template>
      <ng-template ngFor let-property [ngForOf]="listRentPropertiesForVivaReal">
        <div class="col-lg-4 col-md-6">
          <mlocks-property-card
            [type]="'VivaReal'"
            [property]="property"
          ></mlocks-property-card>
        </div>
      </ng-template>

      <ng-template ngFor let-property [ngForOf]="listSellPropertiesForVivaReal">
        <div class="col-lg-4 col-md-6">
          <mlocks-property-card
            [type]="'VivaReal'"
            [property]="property"
          ></mlocks-property-card>
        </div>
      </ng-template>
    </div>
  </div>
</section>

<!-- Popular Room Section Begin -->
<section
  class="popular-room set-bg p-in"
  style="background-image: url('assets/img/bg-2.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <mlocks-property-carousel [listProperties]="listRandomProperties" ></mlocks-property-carousel>
      </div>
    </div>
  </div>
</section>
<!-- Popular Room Section End -->
