<mlocks-banner></mlocks-banner>
<mlocks-search-filter></mlocks-search-filter>
<section class="hotel-rooms spad">
  <div class="container">
    <div class="row">
      <ng-template ngFor let-property [ngForOf]="listRentPropertiesForZAP">
        <div class="col-lg-4 col-md-6">
          <mlocks-property-card
            [type]="'ZAP'"
            [property]="property"
          ></mlocks-property-card>
        </div>
      </ng-template>
      <ng-template ngFor let-property [ngForOf]="listSellPropertiesForZAP">
        <div class="col-lg-4 col-md-6">
          <mlocks-property-card
            [type]="'ZAP'"
            [property]="property"
          ></mlocks-property-card>
        </div>
      </ng-template>
      <ng-template ngFor let-property [ngForOf]="listRentPropertiesForVivaReal">
        <div class="col-lg-4 col-md-6">
          <mlocks-property-card
            [type]="'VivaReal'"
            [property]="property"
          ></mlocks-property-card>
        </div>
      </ng-template>

      <ng-template ngFor let-property [ngForOf]="listSellPropertiesForVivaReal">
        <div class="col-lg-4 col-md-6">
          <mlocks-property-card
            [type]="'VivaReal'"
            [property]="property"
          ></mlocks-property-card>
        </div>
      </ng-template>
    </div>
  </div>
</section>

<!-- Popular Room Section Begin -->
<section
  class="popular-room set-bg p-in"
  style="background-image: url('assets/img/bg-2.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <mlocks-property-carousel
          [listProperties]="listRandomProperties"
        ></mlocks-property-carousel>
      </div>
    </div>
  </div>
</section>
<!-- Popular Room Section End -->

<mlocks-newsletter></mlocks-newsletter>

<!-- Servies Section Begin -->
<section class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-side">
          <h2>
            <span>Why choose homes?</span><br />Because we we are the best in
            <br />the business.
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id est
            nec nisl tristique dignissim semper sed diam. Donec vulputate neque
            in massa hendrerit, non dignissim ipsum varius. Mauris dignissim
            libero ipsum, nec molestie nulla molestie at. Nam imperdiet
            hendrerit finibus. Sed porttitor ultricies sagittis. Nullam lobortis
            nec quam vitae venenatis.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-side">
          <ul>
            <li>
              <img src="assets/img/check.png" alt="" />Lorem ipsum dolor sit
              amet, consectetur adipiscing elit.
            </li>
            <li>
              <img src="assets/img/check.png" alt="" />Praesent tincidunt diam
              in ante faucibus tristique.
            </li>
            <li>
              <img src="assets/img/check.png" alt="" />Vivamus id nisl sed mi
              varius lobortis.
            </li>
            <li>
              <img src="assets/img/check.png" alt="" />Suspendisse sit amet erat
              placerat, molestie neque id
            </li>
            <li>
              <img src="assets/img/check.png" alt="" />Fusce pretium libero sit
              amet ipsum posuere pretium.
            </li>
            <li>
              <img src="assets/img/check.png" alt="" />Praesent tincidunt diam
              in ante faucibus tristique.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Servies Section End -->
<section class="instagram">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Don’t forget to follow us on Instagram @homes</h2>
      </div>
    </div>
  </div>
</section>
