<mlocks-preloader></mlocks-preloader>
<div class="site-wrap">
	<mlocks-header></mlocks-header>

	<!-- HOME -->
    <section class="home-section section-hero overlay bg-image" 
    		 style="background-image: url('assets/img/header-bg.jpg');"
      		 id="home-section">
		<mlocks-search></mlocks-search>		

		<a href="#next" class="scroll-button smoothscroll">
        	<span class="icon-keyboard_arrow_down"></span>
      	</a>
	</section>

	<mlocks-statistics></mlocks-statistics>
	<mlocks-properties></mlocks-properties>
	<mlocks-footer></mlocks-footer>
</div>
