<div class="popular-items">
  <div class="popular-room-text">
    <div class="popular-room-details">
      <div class="popular-room-title">
        <h5>{{ property.address.city }}</h5>
        <a href="#"
          ><i class="flaticon-placeholder"></i> <span>Location</span></a
        >
        <a href="#"><i class="flaticon-cursor"></i> <span>Show on Map</span></a>
      </div>
    </div>
    <div class="popular-room-features">
      <div class="popular-room-info">
        <div class="size">
          <p>Lot Size</p>
          <img src="assets/icons/size.png" alt="" />
          <i class="flaticon-bath"></i>
          <span>{{ property.usableAreas }} sqft</span>
        </div>
        <div class="beds">
          <p>Beds</p>
          <img src="assets/icons/bed.png" alt="" />
          <span>{{ property.bedrooms }}</span>
        </div>
        <div class="baths">
          <p>Baths</p>
          <img src="assets/icons/bath.png" alt="" />
          <span>{{ property.bathrooms }}</span>
        </div>
        <div class="garage">
          <p>Garage</p>
          <img src="assets/icons/garage.png" alt="" />
          <span>{{ property.parkingSpaces }}</span>
        </div>
      </div>
    </div>
    <div class="popular-room-price">
      <p>{{ property.pricingInfos.businessType }}</p>
      <span>
        {{ property.pricingInfos.price | currency: "symbol":"$&nbsp;" }}
      </span>
      <span class="deal">Best Deal</span>
    </div>
    <a
      [routerLink]="[
        '/property-detail',
        type === 'VivaReal' ? 'viva-real' : type.toLowerCase(),
        property.id
      ]"
      class="site-btn btn-line"
    >
      View Property
    </a>
  </div>
</div>
